# ===============================
# SERVER
# ===============================
PORT=3000
CORS_ORIGINS=http://localhost:3001,http://localhost:3000

# ===============================
# DATABASE (PostgreSQL)
# ===============================
# Formato:
# postgres://USER:PASSWORD@HOST:PORT/DATABASE

DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/tasks_db

# ===============================
# DOCKER (opcional - usado no docker-compose)
# ===============================
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database